.flex-row {
    display: flex;
    flex-direction: row
}
.flex-col {
    display: flex;
    flex-direction: column
}
.flex-shrink {
    flex-shrink: 0; 
}
.flex-item {
    flex: 1;
    box-sizing: border-box
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-ja-center {
    justify-content: center;
    align-items: center;
}
.flex-j-center {
    justify-content: center;
}
.flex-j-between {
    justify-content: space-between;
}
.flex-j-end {
    justify-content: flex-end;
}
.flex-j-around {
    justify-content: space-around;
}
.flex-a-center {
    align-items: center;
}
.flex-a-between {
    align-items: space-between;
}
.flex-a-end {
    align-items: flex-end;
}
.flex-a-around {
    align-items: space-around;
}